.container {

    margin-left: 15%;
}

.imageCSS {

    height: 20%;
    width: 40%;
}

.buttonCSS {
    width: 20%;
}

a active {
    color: '#fa923f' !important;
    text-decoration : 'underline'!important;
}